In [37]:
import numpy as np
import pandas as pd 
import urllib 
import json

In [38]:
url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=f5eef3421c602c6cb7ea224104795888&targetDt=20220325'

movie_data = pd.read_json(url)
print(type(movie_data))

<class 'pandas.core.frame.DataFrame'>

In [39]:
print(movie_data)

                                                      boxOfficeResult
boxofficeType                                                일별 박스오피스
dailyBoxOfficeList  [{'rnum': '1', 'rank': '1', 'rankInten': '0', ...
showRange                                           20220325~20220325

In [57]:
# json 파일을 분석해야 한다. 
data_frame = pd.DataFrame(movie_data["boxOfficeResult"]['dailyBoxOfficeList'])

In [66]:
# 특정 열 행 조건 출력 
data_frame[:4][['rank', 'movieNm']]

  rank      movieNm
0    1        뜨거운 피
1    2  이상한 나라의 수학자
2    3        더 배트맨
3    4           문폴